
body {
  font: 300 36px "Helvetica Neue";
  height: 650px;
  margin: 50px 0px 0px 0px;
  overflow: hidden;
  position: relative;
  width: 800px;
  background-color: #333;
  color: #F3E6D0;
}

text {
  font-size: 16px;
  pointer-events: none;
}

text.parent {
  fill: #F3E6D0;
}

circle {
  fill: #666;
  stroke: #444;
  pointer-events: all;
}

circle.parent {
  fill: #1f77b4;
  fill-opacity: .1;
  stroke: steelblue;
}

circle.parent:hover {
  stroke: #ff7f0e;
  stroke-width: 2px;
}

circle.child:hover {
  stroke: #ff7f0e;
  stroke-width: 2px;
}

h2 {
  font-size: 24px;
  font-weight: inherit;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
}

body > svg {
  position: absolute;
  top: -80px;
  left: -160px;
}